@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="row">
    <div class="container col-3 border border-primary rounded">
        <div>
            <h4>--20/09/17--</h4>
            <p>Trying to build new ways of setting up user and admin accounts today.</p>
        </div>
    </div>
    <div class="container col-3 border border-secondary rounded">
        <div class="font-italic">
            <h4>--20/09/30--</h4>
            <p>Having issues with publishing to Azure using multiple computers.</p>
            <p>Deploy password does not seem to save for some reason.</p>
        </div>
    </div>
    <div class="container col-3 border border-info rounded">
        <div>
            <h4>--20/10/01--</h4>
            <p>Setup the auto migration today in the program.cs file.</p>
            <p>Remember to check again on Serilog it doesn't want to stick for some reason.</p>
        </div>
    </div>
</div>
<div class="row" style="padding: 2%">
    <div class="container col-3 border border-dark rounded">
        <div>
            <h4>--20/10/02-</h4>
            <p>Trying Azure database setup again. I have built two connection strings. 
                I am hoping I can swap between the two.</p>
            <p>This is a test if Azure pulls from GitHub after the program is published without crashing!</p>
            <p>They are not doing good so far with this.</p>
        </div>
    </div>
</div>

